body{
  background: grey;
  z-index: 1;
}
header{
  text-align: center;
}
main{
  height: 800px;
  width: 1000px;
  position: absolute;
  top:10%;
  left:25%;
  background: white;
  border: 5px solid black;
  z-index: 2;
}

.primo{
  height: 372px;
  width: 300px;
  position: absolute;
  top: 2%;
  left: 1%;
}

.sconto{
  background: red;
  position: absolute;
  top:3%;
  right:5%;
  z-index: 3;

}


.heart{
  font-size: 30px;
  height: 372px;
  width: 300px;
  text-align: center;
  vertical-align: bottom;
  color:red;
  position: absolute;
  bottom:0;
  right:0%;
  opacity: 1;
}



.secondo{
  height: 372px;
  width: 300px;
  position: absolute;
  top:2%;
  left:35%;
}
.terzo{
  height: 372px;
  width: 300px;
  position: absolute;
  top:2%;
  left:69%;
}
.quarto{
  height: 372px;
  width: 300px;
  position: absolute;
  bottom: 2%;
  left: 1%;
}

.quinto{
  height: 372px;
  width: 300px;
  position: absolute;
  bottom:2%;
  left:35%;
}
.sesto{
  height: 372px;
  width: 300px;
  position: absolute;
  bottom:2%;
  left:69%;
}
